<h1>Héroe </h1>
<small>Nombre del Héroe</small>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/heroes">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">


        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
                <label for="">Firebase ID</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.id" name="id" disabled="disabled" placeholder="FireBase ID">
                <small class="form-text text-muted">este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.nombre" name="nombre" placeholder="Nombre del héroe" required>
            </div>

            <div class="form-group">
                <label for="">Poder</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.poder" name="poder" placeholder="Poder del héroe" required>
            </div>

            <div class="form-group text-center">
                <label for="">Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    vivo
                </button>

                <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>

            </div>

            <br>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>


                </button>
            </div>


        </form>

    </div>
</div>